<% link_class = "hover:text-red-500 transition-colors duration-200" %>

<div class="flex flex-col space-y-4">
  <h5 class="text-lg font-semibold">Siguenos en Redes</h5>
  <div class="flex space-x-4">
    <%= link_to 'https://www.facebook.com/pasatiemposcelaya', target: "_blank"  do %>
      <%= fa_icon('facebook-square', class: 'fa-3x') %>
    <% end %>
  </div>
</div>
