<% unless product_properties.empty? %>
  <div class="product-page__details">
    <div class="product-properties">
      <h2 class="product-properties__title text-body-md font-bold">
        <%= t('spree.characteristics')%>
      </h2>
      <br>

      <table class="table-auto w-full">

        <tbody>
          <% product_properties.each do |product_property| %>
            <tr>
              <td><%= product_property.property.presentation %></td>
              <td><%= product_property.value %></td>
            </tr>
          <% end %>

          <% reset_cycle('properties') %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
