<h2 class="product-properties__title text-body-md font-bold">
  <%= t('spree.description')%>
</h2>
<br>

<p class="font-sans text-body" itemprop="description">
  <%= product_description(product) rescue t('spree.product_has_no_description') %>
</p>